*{
    color:black;
}
[data-name="checkbox-div"]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid #6666;
}
.checkbox-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
[data-name="checkbox-div"] p{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}