html {
  height:100%;
}
.box {
  position:relative;
}
.bottomright {
  position:absolute;
  bottom:10px;
  right:10px;
}
.sidebar-class {
  padding:.5rem 0;
  /* height:100vh; */
  /* background-color:rgba(241,241,241,.5); */
}
.main-class {
  display:flex;
}
.sticky-element {
  position:-webkit-sticky;
  /* For Safari */
  position:sticky;
  top:0;
  /* Your other styles here */
}
.center {
  text-align:center;
}
.centerName {
  text-align:center;
  color:blue;
}
.centerHeading {
  text-align:center;
  color:white !important;
  background-color:#014486 !important;
}
/* new css */
.centerDiv {
  height:90%;
  position:relative;
}
.centerIcon {
  margin:0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.my-icon {
  padding-top:35%;
  --sds-c-icon-color-foreground-default:rgb(59,167,85);
}
.my-iconZoom:hover {
  padding-top:1%;
  -ms-transform:scale(1.5);
  /* IE 9 */
  -webkit-transform:scale(1.5);
  /* Safari 3-8 */
  transform:scale(1.5);
}
.loader {
  border:2px solid #D5D5D5;
  border-radius:50%;
  border-top:2px solid #3498DB;
  width:18px;
  height:18px;
  -webkit-animation:spin 0.8s linear infinite;
  /* Safari */
animation:spin 0.8s linear infinite;
  display:inline-block;
  vertical-align:middle;
}
.emailstyle {
  padding-left:25%;
  padding-right:25%;
}
/* .slds-tabs_default__nav {
  justify-content:center;
}
*/

.slds-scope .slds-tabs_default__nav,.slds-scope .slds-tabs--default__nav {
  justify-content:center;
}
.pointerEventsNone {
  pointer-events:none;
  opacity:0.4;
}
.pointerEventsClassForfFinish {
  pointer-events:none;
  opacity:0.4;
}
.modal__body {
  padding:0.5rem;
  border:1px solid black;
}
.slds-scope .slds-table_cell-buffer tr>th:first-child,.slds-scope .slds-table_cell-buffer tr>td:first-child,.slds-scope .slds-table--cell-buffer tr>th:first-child,.slds-scope .slds-table--cell-buffer tr>td:first-child {
  padding-left:0;
}
.my-modal-table {
  width:85%;
}
/* .info-icon,.right-icon {
  --sds-c-icon-color-foreground-default:white;
}
*/


.social-media-footer {
  display:flex;
  justify-content:center;
  align-items:center;
}
.social-media-footer a {
  margin:0 0.625rem;
  /* Adjust as needed */
}
.social-media-footer img {
  background:rgb(16,225,177);
  border-radius:50%;
  width:2.5rem;
  /* Adjust the size as needed */
  height:2.5rem;
  /* Adjust the size as needed */
  box-sizing:content-box;
  /* Ensure padding is included in the width and height */
}
/* Adjust size for the second and third icons */
.social-media-footer a:nth-child(2) img,.social-media-footer a:nth-child(3) img {
  width:2rem;
  /* Adjust the size as needed */
  height:2rem;
  /* Adjust the size as needed */
  padding:.25rem;
}

.slds-scope .slds-nav-vertical__title{
  display: none !important;
}

/* .test{
  font-weight: 500 !important;  
  color:  purple !important;
}    */