h2 {
    color: white;
    font-size: large;
   
}
button{
    width: 40%;
    border: none;
    background-color: #6666;
    font-size: 1rem;
    text-align: center;
    border-radius: 8px;
    padding: 7px;
    color: black;
}
.body {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    
}

p {
    font-size: large;
    /* color:  rgb(21, 118, 179); */
    margin-bottom: 1rem;
    /* width: auto; */
    /* background-color: rgb(1, 133, 166); */
}
header {
    background-color: color;
    border: none;
}
footer {
    background-color: white;
    border: none;
}
.display {
    display: flex;
    justify-content: space-evenly;
}
/* .checkbox {
    color:aliceblue;
} */